<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> About AltGPT</title>
    </head>
    <body>
        <h1 class="center"> About AltGPT</h1>
        <p> AltGPT, expanded as Alternative Language Technology-driven Guided Pedagogy Tool, is a learning tool aimed to make teaching services easier. It is a web-based application that allows teachers to summarize, evaluate and check data related to educational subjects. It is based on Machine Learning and Natural Language Processing libraries. </p>