<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> BERT Extractive Summarizer </title>
    </head>
    <body>
        <h1>This is the extractive summarization page. Use to summarize data as per your requirements</h1>
        <div>
            <form method="POST">
                <label for="theirsumtext">Enter Your Data</label>
                <input type="text" id="theirsumtext" name="theirsumtext" placeholder="Enter your text">
                <label for="sentences">Enter Number of Sentences</label>
                <input type="text" id="textsentences" name="textsentences" placeholder="Enter number of sentences">
                <button type="submit">Submit</button>
            </form>
        </div>
        <h1>Your Results Will Display Below Here</h1>
        <h4> Your Text Summary </h4>
        <p> {{ textsummary }} </p>
    </body>
</html>