<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> BERT Extractive Summarizer </title>
    </head>
    <body>
        <h1>This is the extractive summarization page. Use to summarize data as per your requirements</h1>
        <div>
            <form method="POST">
                <label for="theirsumtext">Enter Your Data</label>
                <input type="text" id="theirsumtext" name="theirsumtext" placeholder="Enter your text">
                <button type="submit">Submit</button>
            </form>
        </div>
        <div>
            <form method="POST" enctype="multipart/form-data">
                <label for="theirsumfile">Upload Your File</label>
                <input type="file" id="theirsumfile" name="theirsumfile">
                <button type="submit">Submit</button>
            </form>
        </div>
    </body>
</html>