<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>CTDT Project</title>
    </head>
    <body>
        <h1> Welcome To AltGPT </h1>
        <h1>Dashboard</h1>
        <p>Here is the dashboard</p>
        <p>Here is the navlink</p>
        <h1> Here is your chatbox </h1>
        <p>Here is the chatbox</p>
        <form action="" method="POST">
            <label for="message">Enter your query</label>
            <input type="text" name="message" id="message" placeholder="Enter your message">
            <button type="submit" value="submit">Submit</button>
        </form>
        <h1> ALTGPT Response </h1>
        <p>Here is the response</p>
        <p> {{ response }} </p>
        {% if code == 5 %}
        <a href="{{ url_for('views.pdfsum') }}">File Summarizer</a>
        {% elif code == 6 %}
        <a href="{{ url_for('views.bertsum') }}">Text Summarizer</a>
        {% elif code == 8 %}
        <a href="{{ url_for('views.plagsim') }}">Text Similarity</a>
        {% elif code == 7 %}
        <a href="{{ url_for('views.pdfsim') }}">File Similarity</a>
        {% elif code == 10 %}
        <a href="{{ url_for('views.qa') }}">Text Q&A</a>
        {% elif code == 9 %}
        <a href="{{ url_for('views.pdfqa') }}">File Q&A</a>
        {% elif code == 14 %}
        <a href="{{ url_for('views.qaentomology') }}">Entomology</a>
        {% elif code == 17 %}
        <a href="{{ url_for('views.machining') }}">Entomology</a>
        {% endif %}
        <a class="nav-item nav-link" id="logout" href="{{ url_for('sign.logout') }}">Logout</a>
    </body>
</html>