{% extends "layout.html" %}
{% block title %}Login Page{% endblock %}
{% block content %}
<head>
    <style>  
        #body {
            background-color:"#040404"
        }
    </style>
</head>
<body>
    <form method="POST">
        <div id="body" class="form-group" style="width:800px; margin:0 auto;">
            <label for="username"> Username </label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
        </div>
        <div id="body" class="form-group" style="width:800px; margin:0 auto;">
            <label for="password"> Password </label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
        </div>
        <div id="body" class="form-group" style="width:800px; margin:0 auto;">
            <p></p>
        <button type="submit" class="btn btn-outline-success" text-align="center"> Submit </button>
        </div>
    </form>
    <div id="body" class="container" style="width:800px; margin:0 auto;">
        <h2> Do not have an account? <a  href="{{ url_for('sign.create_account') }}"> Sign Up </a> </h2>
    </div>
</body>
{% endblock %}
