<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="plag.css">
        <meta charset="utf-8">
        <title> Plagiarism Checker Via Semantic Similarity </title>
    </head>
    <body>
        <h1 class="center">PLAGIARISM CHECKER VIA SEMANTIC SIMILARITY</h1>
        <div class="box">
            <form action="" method="POST">
                
                <div id="body" class="input-container" style="width:400px;">
                    <label for="theirplagtext"><h3 style="font-size:17px">Enter Your Original Data</h3></label>
                    <br>
                    <textarea rows="5" cols="46" id="theirplagtext" required="" wrap="off" autocomplete="off" aria-autocomplete="list" aria-haspopup="true"></textarea>
                </div>
                <br>
                <div id="body" class="input-container" style="width:400px;">
                    <label for="checkplagtext"><h2 style="font-size:17px">Enter The Data To Be Compared With</h2></label>
                    <br>
                    <textarea rows="5" cols="46" id="checkplagtext" required="" wrap="off" autocomplete="off" aria-autocomplete="list" aria-haspopup="true"></textarea>
                </div>
                
                <div id="body" class="input-container" style="width:400px;">
                    <p></p>
                    <button type="submit" class="btn" text-align="center"> Submit </button>
                </div>

            </form>
        </div>
        <div class="boxe">    
            <div id="body" class="input-container" style="width:400px;">
                <p></p>
                <h1> The Similarity Score Will Be Displayed Here</h1>
                <p> {{ simscore }} </p>
            </div>
        </div>
        <button type="dash" class="dash" text-align="center">
            Return to Dashboard
        </button>
    </body>
</html>