<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> Plagiarism Checker Via Semantic Similarity </title>
    </head>
    <body>
        <h1>This is a plagiarism checker page</h1>
        <h2> Insert Data In The Form Below Or Upload Your Files</h2>
        <div>
            <h3>Enter Your Text</h3>
            <form method="POST">
                <label for="theirplagtext">Enter Your Original Data</label>
                <input type="text" id="theirplagtext" name="theirplagtext" placeholder="Enter your text">
                <label for="checkplagtext">Enter The Data To Be Compared With</label>
                <input type="text" id="checkplagtext" name="checkplagtext" placeholder="Enter the text to be compared with">
                <button type="submit"> Submit </button>
            </form>
        </div>
        <div>
            <h3>Upload Your File</h3>
            <form method="POST" enctype="multipart/form-data">
                <label for="theirplagfile">Upload The Original Data File </label>
                <input type="file" id="theirplagfile" name="theirplagfile" >
                <label for="checkplagfile">Upload The File To Be Compared With</label>
                <input type="file" id="checkplagfile" name="checkplagfile">
                <button type="submit">Submit</button>
            </form>
        </div>
        <p> {{ similarity }}</p>
    </body>
</html>