<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="qastyled.css">
        <meta charset="utf-8">
        <title>Q&A Responses</title>
    </head>
    <body>
        <h1> Queries & Answers </h1>
        <div class="box">
            <form action="" method="POST">
                <div id="body" class="input-container" style="width:400px;">
                    <label for="theirqatext"><h3 style="font-size:17px">Enter Your Data</h3></label>
                    <br>
                    <textarea rows="5" cols="46" id="theirqatext" required="" wrap="off" autocomplete="off" aria-autocomplete="list" aria-haspopup="true"></textarea>
                </div>
                <div id="body" class="input-container" style="width:400px;">
                    <br>
                    <textarea name="theirqas" rows="5" cols="46" id="theirqas" required="" wrap="off" autocomplete="off" aria-autocomplete="list" aria-haspopup="true"></textarea>
                    <br>
                    <label for="theirqas"><h3 style="font-size:18px;text-align:center">Enter your queries separated by semicolons</h3></label> 
                </div>
                <div id="body" class="input-container" style="width:400px;">
                    <p></p>
                    <button type="submit" class="btn" text-align="center">Submit</button>
                </div>           
            </form>
        </div>
        <div class="boxe">
            <h1> Your Answers Will Appear In Order Of Questions Below </h1>
            <table>
                <tr>
                    <th>Your Question</th>
                    <th>Answer</th>
                    <th>Confidence Score</th>
                </tr>
                {% for i in answers %}
                <tr>
                    <td>{{i[0]}}</td>
                    <td>{{i[1]}}</td>
                    <td>{{i[2]}} </td>
                </tr>
                {% endfor %}
            </table>
            <p> If the provided answer is not to your satisfaction, please provide more data </p>
            <p> The Confidence Score Will Displayed Next To The Answer </p>
        </div>
        <button type="dash" class="dash" text-align="center">
            Return to Dashboard
        </button>
    </body>
</html>