<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Q&A Responses</title>
    </head>
    <body>
        <h1> Queries & Answers </h1>
        <h2> Enter Your Data And Query </h2>
        <form method="POST">
            <label for="theirqatext">Enter Your Data</label>
            <input type="text" id="theirqatext" name="theirqatext" placeholder="Enter your data">
            <label for="theirqas">Enter Questions Separated By Semicolons</label>
            <input type="text" id="theirqas" name="theirqas" placeholder="Enter Your Q's Separated By Semicolons">
            <button type="submit">Submit</button>
        </form>
        <h1> Your Answers Will Appear In Order Of Questions Below </h1>
        <table>
            <tr>
                <th>Your Question</th>
                <th>Answer</th>
                <th>Confidence Score</th>
            </tr>
            {% for i in answers %}
            <tr>
                <td>{{i[0]}}</td>
                <td>{{i[1]}}</td>
                <td>{{i[2]}} </td>
            </tr>
            {% endfor %}
        </table>
        <p> If the provided answer is not to your satisfaction, please provide more data </p>
        <p> The Confidence Score Will Displayed Next To The Answer </p>
    </body>
</html>