<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="qaentomo.css">
        <title>Entomology Q&A</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h2 class="center"> WELCOME TO ENTOMOLOGY Q&A </h2>
        <div class="box">
            <form action="" method="POST" id="app-cover">
                <label for="standard-select"><h3 style="font-size:18px;text-align:center">Choose your domain</h3></label>
                <div class="select">
                    <select id="concept" name="concept">
                        <option value="insectposition">Position Of Insects In The Animal Kingdom</option>
                        <option value="insectrelation">Relation Of Insects To Other Arthropoda</option>
                        <option value="crustacea">The Crustacea</option>
                        <option value="merostomata">The Merostomata</option>
                        <option value="trilobita">The Trilobita</option>
                        <option value="arachnida">The Arachnida</option>
                        <option value="peripatus">Relation of Peripatus To Insects</option>
                        <option value="myriopods">Relation of Myriopods To Insects</option>
                        <option value="symphyla">Relation of Symphyla To Insects</option>
                        <option value="symphylacharacter">Diagnostic Characteristics of Symphyla</option>
                    </select>
                    <span class="focus"></span>
                </div>
                <br>
                <div id="body" class="input-container" style="width:400px;">
                    <br>
                    <textarea name="query" rows="10" cols="46" id="query" required="" wrap="off" autocomplete="off" aria-autocomplete="list" aria-haspopup="true"></textarea>
                    <br>
                    <label for="query"><h3 style="font-size:18px;text-align:center">Enter your queries separated by semicolons</h3></label> 
                </div>
                <div id="body" class="input-container" style="width:400px;">
                    <p></p>
                    <button type="submit" class="btn" text-align="center">Submit</button>
                </div>
            </form>
        </div>
        
        <div class="boxe">
            <h3 style="font-size:17px"> Your Answers Will Appear In Order Of Questions Below </h3>
            <table>
            <tr>
                <th>Your Question</th>
                <th>Answer</th>
                <th>Confidence Score</th>
            </tr>
            {% for i in answer %}
            <tr>
                <td>{{i[0]}}</td>
                <td>{{i[1]}}</td>
                <td>{{i[2]}} </td>
            </tr>
            {% endfor %}
            </table>
        </div>
        <button type="dash" class="dash" text-align="center">
            Return to Dashboard
        </button>
    </body>
</html>