<!DOCTYPE html>
<html>
    <head>
        <title>Entomology Q&A</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h1> Welcome To Entomology Q&A </h1>
        <form action="" method="POST">
            <label for="concept">Select Concept</label>
            <select id="concept" name="concept">
                <option value="insectposition">Position Of Insects In The Animal Kingdom</option>
                <option value="insectrelation">Relation Of Insects To Other Arthropoda</option>
                <option value="crustacea">The Crustacea</option>
                <option value="merostomata">The Merostomata</option>
                <option value="trilobita">The Trilobita</option>
                <option value="arachnida">The Arachnida</option>
                <option value="peripatus">Relation of Peripatus To Insects</option>
                <option value="myriopods">Relation of Myriopods To Insects</option>
                <option value="symphyla">Relation of Symphyla To Insects</option>
                <option value="symphylacharacter">Diagnostic Characteristics of Symphyla</option>
            </select>
            <label for="query">Enter Your Queries Separated By Semicolons</label>
            <input type="text" id="query" name="query" placeholder="Enter your question">
            <button type="submit">Submit</button>
        </form>
        <h1> Your Answers Will Appear In Order Of Questions Below </h1>
        <table>
            <tr>
                <th>Your Question</th>
                <th>Answer</th>
                <th>Confidence Score</th>
            </tr>
            {% for i in answer %}
            <tr>
                <td>{{i[0]}}</td>
                <td>{{i[1]}}</td>
                <td>{{i[2]}} </td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>