<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="qaentomo.css">
        <title>Entomology Q&A</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h2 class="center"> Welcome To Entomology Q&A </h2>
        <div class="box">
            <form action="" method="POST" id="app-cover">
                <div id="select-box">
                    <input type="checkbox" id="options-view-button">
                    <div id="select-button" class="brd">
                    <div id="selected-value">
                        <span>Select a platform</span>
                    </div>
                    <div id="chevrons">
                        <i class="fas fa-chevron-up"></i>
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </div>
                
                <div id="options">
                <div class="option">
                    <input class="s-c top" type="radio" name="platform" value="codepen">
                    <input class="s-c bottom" type="radio" name="platform" value="codepen">
                    <i class="fab fa-insectposition"></i>
                    <span class="label" value="insectposition">Position Of Insects In The Animal Kingdom</span>
                    <span class="opt-val">Position Of Insects In The Animal Kingdom</span>
                </div>
                
                <div class="option">
                    <input class="s-c top" type="radio" name="platform" value="dribbble">
                    <input class="s-c bottom" type="radio" name="platform" value="dribbble">
                    <i class="fab fa-insectrelation"></i>
                    <span class="label">Relation Of Insects To Other Arthropoda</span>
                    <span class="opt-val">Relation Of Insects To Other Arthropoda</span>
                </div>
                
                <div class="option">
                    <input class="s-c top" type="radio" name="platform" value="behance">
                    <input class="s-c bottom" type="radio" name="platform" value="behance">
                    <i class="fab fa-behance"></i>
                    <span class="label">The Crustacea</span>
                    <span class="opt-val">The Crustacea</span>
                </div>
                
                <div class="option">
                    <input class="s-c top" type="radio" name="platform" value="hackerrank">
                    <input class="s-c bottom" type="radio" name="platform" value="hackerrank">
                    <i class="fab fa-hackerrank"></i>
                    <span class="label">The Merostomata</span>
                    <span class="opt-val">The Merostomata</span>
                </div>
                
                <div class="option">
                    <input class="s-c top" type="radio" name="platform" value="stackoverflow">
                    <input class="s-c bottom" type="radio" name="platform" value="stackoverflow">
                    <i class="fab fa-stack-overflow"></i>
                    <span class="label">The Trilobita</span>
                    <span class="opt-val">The Trilobita</span>
                </div>
                
                <div class="option">
                    <input class="s-c top" type="radio" name="platform" value="freecodecamp">
                    <input class="s-c bottom" type="radio" name="platform" value="freecodecamp">
                    <i class="fab fa-free-code-camp"></i>
                    <span class="label">The Arachnida</span>
                    <span class="opt-val">The Arachnida</span>
                </div>
                
                <div class="option">
                    <input class="s-c top" type="radio" name="platform" value="freecodecamp">
                    <input class="s-c bottom" type="radio" name="platform" value="freecodecamp">
                    <i class="fab fa-free-code-camp"></i>
                    <span class="label">Relation of Peripatus To Insects</span>
                    <span class="opt-val">Relation of Peripatus To Insects</span>
                </div>
                
                <div class="option">
                    <input class="s-c top" type="radio" name="platform" value="freecodecamp">
                    <input class="s-c bottom" type="radio" name="platform" value="freecodecamp">
                    <i class="fab fa-free-code-camp"></i>
                    <span class="label">Relation of Myriopods To Insects</span>
                    <span class="opt-val">Relation of Myriopods To Insects</span>
                </div>
                
                <div class="option">
                    <input class="s-c top" type="radio" name="platform" value="freecodecamp">
                    <input class="s-c bottom" type="radio" name="platform" value="freecodecamp">
                    <i class="fab fa-free-code-camp"></i>
                    <span class="label">Relation of Symphyla To Insects</span>
                    <span class="opt-val">Relation of Symphyla To Insects</span>
                </div>
                
                <div class="option">
                    <input class="s-c top" type="radio" name="platform" value="freecodecamp">
                    <input class="s-c bottom" type="radio" name="platform" value="freecodecamp">
                    <i class="fab fa-free-code-camp"></i>
                    <span class="label">Diagnostic Characteristics of Symphyla</span>
                    <span class="opt-val">Diagnostic Characteristics of Symphyla</span>
                </div>
                <div id="option-bg"></div>
                </div>
            </div>
            <label for="query">Enter Your Queries Separated By Semicolons</label>
            <input type="text" id="query" name="query" placeholder="Enter your question">
            <button type="submit">Submit</button>
            </form>
        </div>
        <div class="boxe">
            <h3> Your Answers Will Appear In Order Of Questions Below </h3>
            <table>
            <tr>
                <th>Your Question</th>
                <th>Answer</th>
                <th>Confidence Score</th>
            </tr>
            {% for i in answer %}
            <tr>
                <td>{{i[0]}}</td>
                <td>{{i[1]}}</td>
                <td>{{i[2]}} </td>
            </tr>
            {% endfor %}
            </table>
        </div>
    </body>
</html>