<!DOCTYPE html>
<html>
    <head>
        <title> Query Page </title>
        <meta charset="utf-8">
    </head>
    <body>
    <h1> Here is your chatbox </h1>
            <form action="" method="POST">
                <label for="message">Enter your query</label>
                <input type="text" name="message" id="message" placeholder="Enter your message">
                <button type="submit" value="submit">Submit</button>
            </form>
    <h1> ALTGPT Response </h1>
    <p>Here is the response</p>
    <p> {{ response }} </p>
    {% if code == 4 %}
        <a href="{{ url_for('views.pdfsum') }}">File Summarizer</a>
    {% elif code == 5 %}
        <a href="{{ url_for('views.bertsum') }}">Text Summarizer</a>
    {% elif code == 7 %}
        <a href="{{ url_for('views.plagsim') }}">Text Similarity</a>
    {% elif code == 6 %}
        <a href="{{ url_for('views.pdfsim') }}">File Similarity</a>
    {% elif code == 9 %}
    <a href="{{ url_for('views.qa') }}">Text Q&A</a>
    {% elif code == 8 %}
        <a href="{{ url_for('views.pdfqa') }}">File Q&A</a>
    {% elif code == 10 %}
        <a href="{{ url_for('views.qaentomology') }}">Entomology</a>
    {% elif code == 13 %}
        <a href="{{ url_for('views.machining') }}">Machining</a>
    {% else %}
        <p></p>
    {% endif %}
    <button type="dash" class="dash" text-align="center">
        <a href="{{ url_for('views.dashboard') }}">Return to Dashboard</a>
    </button>
    </body>
</html>